.container {
  max-width: 240px;
  margin: 50px auto 0;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #d6001c;
  }
}

@keyframes fill2 {
  0% {
    fill: transparent;
    stroke: #353535;
  }
  100% {
    fill: #f42e45;
    stroke: transparent;
  }
}

@keyframes fill3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #f9d87c;
  }
}

@keyframes fill4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #b50015;
  }
}

path {
  fill: none;
  stroke: #353535;
  stroke-width: 10px;
}

#popsicle {
  transform: rotate(45deg);
  animation: tilt 4.5s ease-in;
}

#stick {
  animation: move 2.5s linear forwards, fill3 1.5s ease-in-out forwards;
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
}

#outside {
  animation: move 3s linear forwards, fill 2.5s ease-in forwards;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
}

#inside-r, #inside-l {
  animation: move 2s linear forwards, fill2 2.5s ease-in forwards;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

#drop {
  animation: move 4s linear forwards, fill4 3s ease-out forwards;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

.inner-text, .inner-text a {
    margin: 0;
    font-family: sans-serif;
    z-index: 1000;
    font-size: 84px;
    font-weight: bold;
    color: #222;
    animation: text 4.5s ease-out forwards;
    text-decoration: none;
}

.text-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
